body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: powderblue;
}

header {
    flex-direction: row;
    align-items: center;
    padding: 25px;
    background-color: silver;
}

footer {
    flex-direction: row;
    align-items: center;
    padding: 25px;
    background-color: silver;
}

main {
    padding: 15px;
}

.playlist-cards-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

/* TODO Style the playlist cards to make them visually distinct and appealing.
Example: Add borders, shadows, and hover effects. */

.playlist-card {
    width: 200px;
    height: 20rem;
    margin: 24px 20px;
    padding: 22px;
    border-radius: 15px;
    background: darkseagreen;
}

.playlist-card:hover {
    transform: scale(1.01);
    transition: all .15s ease-in-out;
}

.playlist-card-cover {
    width: 200px;
    border-radius: 12px;
}

.playlist-info-group {
    height: 40%;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist-card-title {
    margin: 4px auto;
}

.playlist-card-creator {
    margin-top: 4px;
    margin-bottom: 2px;
}

.playlist-card-likes {
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}

.playlist-card-likes-button,
.playlist-card-misc-button {
    background-color: transparent;
    border: 0px;
    margin-bottom: 2px;
    padding: 0px 5px 0px 0px;
}

.playlist-card-likes-button:hover {
    color: red;
    transform: scale(1.2);
    transition: all .1s ease-in-out;
}

.playlist-card-misc-button:hover {
    transform: scale(1.2);
    transition: all .1s ease-in-out;
}

.playlist-card-likes-button-active {
    background-color: transparent;
    border: 0px;
    margin-bottom: 2px;
    padding: 0px 5px 0px 0px;
    color: red;
}

.playlist-card-likes-button-active:hover {
    transform: scale(1.2);
    transition: all .1s ease-in-out;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: blanchedalmond;
    margin: 5% auto;
    border-radius: 15px;
    padding: 24px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: auto 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.playlist-modal-cover {
    height: 100%;
    border-radius: 15px;
}

.playlist-modal-info {
    display: flex;
    height: 25%;
}

.playlist-info-group-modal {
    flex-grow: 1;
}

.playlist-modal-title,
.playlist-modal-creator {
    margin: 4px 20px;
}

.shuffle-button,
.norm-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: 4px 20px;
    padding: 10px;
    background-color: mediumseagreen;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 15px;
}

.shuffle-button:hover,
.norm-button:hover {
    background-color: forestgreen;
    transform: scale(1.05);
    transition: all .1s ease-in-out;

}

.song-scroller {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
}

.song-list {
    margin: 20px auto;
    height: 100%;
}

.song-info {
    display: flex;
    border: 1px solid;
    border-radius: 12px;
    height: 80px;
    margin: 0px auto 10px auto;
    overflow: hidden;
    background-color: rgba(160, 220, 150, 0.6);
}

.song-album-cover {
    height: 100%;
}

.song-modal-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.song-data-group {
    display: flex;
    flex-direction: column;
    margin: auto 12px;
}

.song-title,
.song-data {
    margin: 2px;
}

.song-data {
    font-size: small;
}

.song-length {
    margin: auto 10px;
}

.featured-holder {
    display: flex;
    justify-content: space-between;
    margin: auto 50px;
}

.featured-header {
    font-size: x-large;
}

.featured-cover {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 18px;
}

.featured-title,
.featured-creator {
    margin: 4px auto;
}

#featured-song-scroller {
    margin-top: 50px;
    margin-left: 50px;
    height: 100%;
    width: 50%;
}

#edit-song-scroller {
    height: 20rem;
}

.playlist-search {
    background: #fff;
    padding: 12px 16px;
    border-radius: 8px;
}

.sort-form {
    border-radius: 10px;
    margin: 20px;
}